@charset "utf-8";

.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-blue: #00237d;
    --primary-red: #c80442;
    --dark-text: #0f172a;
    --light-text: #FFFF;
    --blue-gradient: linear-gradient(180deg,rgba(0, 35, 125, 1) 22%, rgba(73, 98, 162, 1) 60%, rgba(255, 255, 255, 0) 100%);
    --diagonal-gradient: linear-gradient(135deg, rgba(99, 102, 241, 0.4) 0%, rgba(139, 92, 246, 0.3) 100%);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

        /* Navigation */
    nav {
            font-family: "Passion One", sans-serif;
            position: fixed;
            top: 0;
            width: 100%;
            background: var(--primary-blue);
            backdrop-filter: blur(20px);
            z-index: 1000;
            padding: 1rem 0;
            transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            border-bottom: 1px; /*solid rgba(255, 255, 255, 0.1);*/
            border-radius: 0% 0% 5% 5%;
    }

        nav.scrolled {
            background: var(--blue-gradient);
            box-shadow: var(--shadow-lg);
            padding: 0.75rem 0;
        }

        .nav-container {
            max-width: 1400px;
            margin: 0 auto;
            padding: 0 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }

        .logo {
            font-family: "Passion One", sans-serif;
            color: var(--light-text);
            font-size: 1.75rem;
            font-weight: 700;
            letter-spacing: 0.5px;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav-links {
            display: flex;
            list-style: none;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }

        .nav-links a {
            text-decoration: none;
            color: var(--light-text);
            font-weight: 500;
            font-size: 1.2rem;
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            position: relative;
            padding: 0.5rem 0;
        }

        .nav-links a:hover {
            color: var(--primary-red);
            transform: translateY(-1px);
        }

        .nav-links a::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 50%;
            background: var(--blue-gradient);
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            transform: translateX(-50%);
            border-radius: 1px;
        }

        .nav-links a:hover::after {
            width: 100%;
        }


#slider{
    margin: 0 auto;
    width: 100%;

    height: 400px;
    overflow:hidden;
    position: relative;
}

.slides{
    transition: transform 0.5s ease-in-out;;
    width: 100%;
    height: 100%;
    display: flex;
}

.slides img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

#slider img:nth-child(1){
    opacity: 1;
}


#izquierda, #derecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 70px;
  z-index: 2;
  cursor: pointer;
}
#izquierda { left: 5%; }
#derecha { right: 5%; }
        
.hero-section {
    font-family: "Passion One", sans-serif;
    font-size: 2rem;
    color: var(--light-text); 
    /*text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;*/

    text-shadow: 2px 0 var(--primary-blue), -2px 0 var(--primary-blue), 0 2px var(--primary-blue), 0 -2px var(--primary-blue),
               1px 1px var(--primary-blue), -1px -1px var(--primary-blue), 1px -1px var(--primary-blue), -1px 1px var(--primary-blue);

    background-image: 
    linear-gradient(139deg, rgba(0, 35, 125, 0.6) 0%, rgba(200, 4, 66, 0.6) 100%),
    url('index-img/blurred-colegio.jpg'); 

    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 300px;
    
    display: flex;
 
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    padding: 5% 5% 2%;
    border-radius: 0% 0% 5% 5%;
}


.whatsapp-button{
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 20px;    /* Distancia desde el borde inferior */
  right: 20px; 
}




.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
    font-family: "Passion One", sans-serif;
    background-color: var(--primary-blue);
    padding: 70px 0;
    border-radius: 5% 5% 0% 0%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: var(--primary-red);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--primary-red);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container .image {
  width: 50%;
}

.container img {
  width: 80%;
  margin: 20px;
}

        .services {
            margin: 3rem 3rem;
            
        }

        .services p {
            font-family: "Passion One", sans-serif; 
            font-size: 3rem; 
            color: var(--dark-text);
            margin-bottom: 1.5rem;
            line-height: 1.7;
            text-align: center;
        }

        .services-list {
          font-family: "Passion One", sans-serif; 
          font-size: 1.3rem; 
          color: var(--light-text);
          list-style: none; 
          padding-left: 0;  

        }

        .services-list li {
          position: relative;
          padding-left: 1.5rem; 
        }

        .services-list li::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0.2rem;
          width: 1rem;   
          height: 1rem;  
          background: url("index-img/star-bullet.svg") no-repeat center/contain;
        }


        .services-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;
            margin-top: 2rem;
            
        }



        .services-item {
            
            background: var(--primary-red);
            border-radius: 25px;
            overflow: hidden;
            box-shadow: var(--shadow-lg);
            transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            /* transform: translateY(20px);  quítalo */
            /* opacity: 0; quítalo */
            border: 1px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
        }

        .services-item.animate {
            transform: translateY(0);
            opacity: 1;
        }

        .services-item:hover {
            transform: translateY(-15px);
            box-shadow: var(--shadow-2xl);
        }

        .services-image {
            width: 100%;
            height: 180px;
            background: linear-gradient(139deg, rgba(0, 35, 125, 0.6) 0%, rgba(200, 4, 66, 0.6) 100%);
            position: relative;
            overflow: hidden;
            background-size: cover;
            background-position: center;
        }

        .services-item:nth-child(1) .services-image {
            background-image: url('index-img/preescolar-B.jpg');
        }

        .services-item:nth-child(2) .services-image {
            background-image: url('index-img/primaria.jpg');
        }

        .services-item:nth-child(3) .services-image {
            background-image: url('index-img/secundaria.jpg');
        }

        .services-item:nth-child(4) .services-image {
            background-image: url('index-img/preparatoria.jpg');
        }


        .services-image::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            transition: all 0.3s ease;
        }

        .services-item:hover .services-image::before {
            background: linear-gradient(135deg, rgba(99, 102, 241, 0.4) 0%, rgba(139, 92, 246, 0.3) 100%);
        }

        .services-content {
            padding: 2rem;
        }

        .services-content h4 {
            font-family: "Passion One", sans-serif;
            font-size: 2rem;
            margin-bottom: 1rem;
            color: var(--primary-blue);
            text-align: center;
            font-weight: 500;
        }


.talleres {
  font-family: "Passion One", sans-serif; 
  text-align: center;
  padding: 2rem;
}

.talleres h2 {
  font-size: 3rem; 
  color: var(--dark-text);
  margin-bottom: 1.5rem;
  line-height: 1.7;
  text-align: center;
}

.talleres h2 span {
  color: var(--primary-red); 
  font-weight: bold;
}

.categoria {
  margin-bottom: 3rem;
}

.categoria h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--primary-blue);
}

.grid-talleres {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card {
  background: linear-gradient(236deg,rgba(0, 35, 125, 0.8) 0%, rgba(200, 4, 66, 0.8) 100%);;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card p {
  margin: 0.5rem 0 1rem;
  font-size: 1.3rem;
  color: var(--light-text);
}

.promo-section {
    font-family: "Passion One", sans-serif;
    font-size: 2rem;
    color: var(--light-text); 
    background-image: 
    linear-gradient(139deg, rgba(0, 35, 125, 0.6) 0%, rgba(200, 4, 66, 0.6) 100%),
    url('index-img/many-students.jpg'); 

    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 200px;
    
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    padding: 5% 5% 2%;
    border-radius: 5% 5% 0% 0%;
}
 

.maps-section{
  padding: 5% 10% 2% 5%;
  width: 100%;
  height: auto;
}

.section-title{ 
  flex-basis: 100%;
  margin-bottom: 2rem;

  font-family: "Passion One", sans-serif;
  color: var(--primary-red);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
}

.maps-container{
  display: flex;
  gap: 2rem;
}

.map{
  background-color: var(--primary-red);
  border-radius: 20% 20% / 20% 20%;
  border: 50px solid var(--primary-red);
}

.map iframe{
  width: 400px;
  height: 300px;
}

.map:hover{
 transform: translateY(-5px);
 box-shadow: 12px 12px 2px 1px var(--primary-blue);
}


.map h2{
  font-family: "Passion One", sans-serif;
  color: var(--primary-blue);
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
}

.contact {
  margin-top: 1.5rem;
  text-align: center; /* centra todo el bloque */
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;         
  margin-top: 1rem;
}

.contact p{
  font-family: "Passion One", sans-serif;
  color: var(--light-text);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-align: center; 
  flex-direction: column;


}

.phonecall {
  height: 30px;
  width: 30px;
}

.phones {
  display: flex;
  flex-direction: column; 
  gap: 0.3rem;
}

.map a {
  font-family: "Passion One", sans-serif;
  color: var(--primary-blue);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-align: left; 
}

.map a:hover {
  text-decoration: underline;
}

.about-us-section{
  padding: 5% 10% 2% 5%;
  width: 100%;
  height: auto;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;

  background-color: rgba(0, 35, 125, 0.3);
  background-blend-mode: overlay;

  position: relative;
  overflow: hidden;

  margin-bottom: 5px;

}



.about-us-section:nth-of-type(1) {
  background-image: url('index-img/presc-w-teacher.jpg');
}

.about-us-section:nth-of-type(2) {
  background-image: url('index-img/bandera.jpg');
}

.about-container p{
 font-family: "Passion One", sans-serif;
  color: var(--light-text);
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 0.5px;
  text-align: left; 
}

.about-container h1{ 
  flex-basis: 100%;
  margin-bottom: 2rem;

  font-family: "Passion One", sans-serif;
  color: var(--primary-blue);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
}

.about-container{
  border: 20px solid var(--primary-red);
  background-color: var(--primary-red);
  border-radius: 20px;
  width: 80%;
  align-items: center;
  bottom: 30%;
  margin: auto;
  margin-bottom: 30px;

}